<footer class="footer">
    <div class="container">
        <div class="inner_footer">
            <div class="logo_footer">
                <img src="../img/logo-footer.png" alt="">
                <div class="social_networks">
                    <p class="follow">Follow Us</p>
                    <a href="#"><img src="../img/FB-icon.png" alt=""></a>
                    <a href="#"><img src="../img/TW-icon.png" alt=""></a>
                    <a href="#"><img src="../img/in-icon.png" alt=""></a>
                </div>
                <p class="year">© 2018 Geriana. All rights reserved.</p>
            </div>
            <div class="wrapper_link">
                <div class="portal_cooperation_center_help_footer">
                    <p>O portalu</p>
                    <a href="#">Kim jesteśmy</a>
                    <a href="#">O nas w mediach</a>
                    <a href="#">Zasady i regulaminy</a>
                </div>
                <div class="portal_cooperation_center_help_footer">
                    <p>Współpraca</p>
                    <a href="#">Zostań naszym partnerem</a>
                    <a href="#">Praca</a>
                </div>
                <div class="portal_cooperation_center_help_footer">
                    <p>Centrum Pomocy</p>
                    <a href="#">Opiekunowie</a>
                    <a href="#">Poszukujący opieki</a>
                    <a href="#">Kontakt</a>
                </div>
            </div>
        </div>
    </div>
</footer>