<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="logo">
                <a href="#">
                    <img src="../img/logo.png" alt="">
                </a>
                <a class="button__help" href="#">HELP CENTER</a>
                <a class="button__call" href="#">CALL US</a>
            </div>
            <nav class="menu">
                <div class="btn_menu">
                    <a href="#" class="btn_menu_link"><img src="../img/icon-menu.svg" class="icon_menu" alt=""></a>
                </div>
                <ul class="menu__list">
                    <li><a href="#">Sing Up</a></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#" class="btn_menu_align"><img src="../img/icon-menu.svg" class="icon_menu" alt=""> Menu</a></li>
                </ul>
            </nav>
        </div>
        <div class="inner__heading">
            <h1>Znajdź opiekuna</h1>
            <p class="subtitle">dla swoich najbliższych</p>
            <p>Skontaktuj się bezpośrednio z jedną z <span>60,000 zarejestrowanych</span> <br> opiekunek</p>
            <div class="top__btn__inner"><a class="search__btn" href="#">ZNAJDŹ OPIEKUNKĘ</a></div>
        </div>
        
</header>